/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
  @import 'font-awesome-sprockets';
  @import 'font-awesome';

  @import "bootstrap";
  @import 'font-awesome-sprockets';
  @import 'font-awesome';

  .container{
    height: 100%;
    width: 100%;
  }
  .col-md-8{
    margin: 50px;
  }
  .order-md-1{
    margin: 50px;
  }
  .sign_up_item{
    margin-left: 50px;
  }
  .sign_up_name {
    margin-left: 37px;
  }
  .link_button{
    margin-left: 30px;
  }
  .item-show{
    margin: 50px;
  }
  .cart-item-index{
    margin: 50px;
  }
  .customer_show_button{
    margin: 50px 0 10px 0;
  }
  .withdraw-button{
    margin-left: 30px;
  }
  .unsubscribe_message{
    text-align: center;
    margin-left: 300px;
  }
  .unsubscribe{
    margin-left: 100px;
  }
  .customer_edit{
    margin-bottom: 30px;
  }
  .order_index{
    margin: 50px;
  }
  .order_show{
    margin: 50px;
  }
  .order_box{
    margin-top: 10px;
  }
  .order_info_box{
    margin-bottom: 10px;
  }
  .admin-item-btn{
    margin: 20px;
  }
  .product_item{
    margin: 10px 0;
  }
  .item-image{
    margin-top: 50px;
  }

